.Header {
  display: flex;
  justify-content: left;
  width: fit-content;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  align-items: center;
}

.Header img {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 3px;
}
