.Meaning button {
  color: gray;
  background: none !important;
  border: none;
  padding: 0 !important;
  cursor: pointer;
}

.Meaning button:hover {
  color: black;
}

.Meaning .ShowMore {
  margin: 0 auto;
  text-align: right;
}
